Gold LayerðŸ¥‡

Imports

In [39]:
import pandas as pd 
Gold_path = './Gold layer/'

In [40]:
df = pd.read_parquet('./Silver layer/Silver.parquet')

Preview the data

In [41]:
df.head()

,Player Name,Team,World,Vehicle Type,Companion,Kart Racing Rank,Platforming Rank,Boss Battle Rank,Power-Ups Used,Kart Role,...,Lives Lost,Participation in Battle Mode,Mushroom Cup Participation,Power-Ups Owned,Coins Spent in Toad Town,Levels Completed,Times Hit by Enemies,Primary Game,filename,loadDateTimeStamp
0,Yoshi,Toad Brigade,Yoshi'S Island,Comet Bike,Polterpup,A,A,A,12,Drifter,...,0,True,True,1-Up Mushroom,64,26,4,Mario Tennis Aces,mario_data_20250101.csv,2025-10-28 15:21:26.079051
1,Peach,Green Caps,Donut Plains,Circuit Special,Koopa Troopa,C,A,B,16,Drifter,...,4,True,True,"Red Shell, Super Star",335,40,5,Mario Tennis Aces,mario_data_20250101.csv,2025-10-28 15:21:26.079051
2,Waluigi,Unknown Team,Yoshi'S Island,Biddybuggy,Goomba,D,A,C,26,Blocker,...,1,True,True,Green Shell,182,57,5,Mario Kart 8 Deluxe,mario_data_20250101.csv,2025-10-28 15:21:26.079051
3,Yoshi,Toad Brigade,Star World,Pipe Frame,Goomba,C,D,A,23,Drifter,...,5,True,True,1-Up Mushroom,333,84,6,Super Mario Bros.,mario_data_20250101.csv,2025-10-28 15:21:26.079051
4,Bowser Jr.,Koopa Clan,Mushroom Kingdom,Pipe Frame,Toad,C,C,B,10,Blocker,...,2,True,True,"Red Shell, Banana Peel, Fire Flower",461,55,7,Super Mario World,mario_data_20250101.csv,2025-10-28 15:21:26.079051

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48000 entries, 0 to 47999
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Player Name                   48000 non-null  string
 1   Team                          48000 non-null  string
 2   World                         48000 non-null  string
 3   Vehicle Type                  48000 non-null  string
 4   Companion                     48000 non-null  string
 5   Kart Racing Rank              48000 non-null  string
 6   Platforming Rank              48000 non-null  string
 7   Boss Battle Rank              48000 non-null  string
 8   Power-Ups Used                48000 non-null  int32
 9   Kart Role                     48000 non-null  string
 10  Team Points                   48000 non-null  int32
 11  Lives Lost                    48000 non-null  int32
 12  Participation in Battle Mode  48000 non-null  bool
 13  Mushroom Cup Participation    48000 non-null  bool
 14  Power-Ups Owned               48000 non-null  string
 15  Coins Spent in Toad Town      48000 non-null  int32
 16  Levels Completed              48000 non-null  int32
 17  Times Hit by Enemies          48000 non-null  int32
 18  Primary Game                  48000 non-null  string
 19  filename                      48000 non-null  string
 20  loadDateTimeStamp             48000 non-null  string
dtypes: bool(2), int32(6), string(13)
memory usage: 6.0 MB

Total team points, Average Rank, Total coins spent in Toad Town for each team

In [ ]:
rank_map = {'A': 4, 'B': 3, 'C': 2, 'D': 1}
# Making new columns which correspond to the numeric values of the each letter rank
for col in ['Kart Racing Rank', 'Platforming Rank', 'Boss Battle Rank']:
    df[col + ' Num'] = df[col].map(rank_map)

# Compute average rank for each team by avergaing all three ranks
df['Average Rank'] = df[['Kart Racing Rank Num', 'Platforming Rank Num', 'Boss Battle Rank Num']].mean(axis=1)
# grouping team points corresponding to each team
total_team_points= df.groupby('Team')['Team Points'].sum().reset_index().rename(columns={'Team Points': 'Total Team Points'})
# grouping average rank for each team
team_avg_rank = df.groupby('Team')['Average Rank'].mean().reset_index().rename(columns={'Average Rank': 'Average Rank Score'})

total_coins_spent = df.groupby('Team')['Coins Spent in Toad Town'].sum().reset_index().rename({'Coins Spent in Toad Town':'Total Coins spent in Toad Town '})
print(f"{total_team_points}\n")
print(f"{team_avg_rank}\n")
print(total_coins_spent)

               Team  Total Team Points
0      Dino Buddies             274062
1        Green Caps             283310
2        Koopa Clan             282558
3  Mushroom Royalty             284478
4          Red Caps             277777
5  Sarasaland Stars             289633
6      Toad Brigade             290411
7        Tricksters             279585
8      Unknown Team             138202

               Team  Average Rank Score
0      Dino Buddies            2.503161
1        Green Caps            2.516598
2        Koopa Clan            2.506856
3  Mushroom Royalty            2.500828
4          Red Caps            2.473347
5  Sarasaland Stars            2.500532
6      Toad Brigade            2.498872
7        Tricksters            2.516797
8      Unknown Team            2.498578

               Team  Coins Spent in Toad Town
0      Dino Buddies                   1363819
1        Green Caps                   1411585
2        Koopa Clan                   1375545
3  Mushroom Royalty                   1438670
4          Red Caps                   1409952
5  Sarasaland Stars                   1426623
6      Toad Brigade                   1395065
7        Tricksters                   1394614
8      Unknown Team                    741924

In [44]:
# aggregating all of the three columns into one dataframe
gold_report1=df.groupby('Team', as_index=False).agg({'Team Points': 'sum','Average Rank': 'mean','Coins Spent in Toad Town': 'sum'}).rename(columns={
          'Team Points': 'Total Team Points',
          'Average Rank': 'Average Rank Score',
          'Coins Spent in Toad Town': 'Total Coins Spent in Toad Town' })

In [45]:
gold_report1

,Team,Total Team Points,Average Rank Score,Total Coins Spent in Toad Town
0,Dino Buddies,274062,2.503161,1363819
1,Green Caps,283310,2.516598,1411585
2,Koopa Clan,282558,2.506856,1375545
3,Mushroom Royalty,284478,2.500828,1438670
4,Red Caps,277777,2.473347,1409952
5,Sarasaland Stars,289633,2.500532,1426623
6,Toad Brigade,290411,2.498872,1395065
7,Tricksters,279585,2.516797,1394614
8,Unknown Team,138202,2.498578,741924

Saving results to parquet file

In [46]:
gold_report1.to_parquet('./Gold layer/gold_team_summary.parquet')

Total Team Points earned by each player sorted in descending

In [47]:
gold_report2 = df.groupby('Player Name')['Team Points'].sum().reset_index().sort_values('Team Points',ascending=False,ignore_index=True).rename(columns={'Team Points': 'Total Team Points earned'})

In [48]:
gold_report2

       Player Name  Total Team Points earned
0   Unknown Player                    454698
1            Luigi                    172753
2       Bowser Jr.                    170904
3           Bowser                    165782
4          Waluigi                    165295
5            Mario                    163519
6            Daisy                    163110
7         Rosalina                    162711
8             Toad                    161178
9            Peach                    159581
10           Wario                    157165
11           Yoshi                    153025
12        Toadette                    150295

In [49]:
gold_report2.to_parquet('./Gold layer/gold_player_performance.parquet')

Count and Average Number of Power-ups used per player

In [50]:
gold_report3= df.groupby('Player Name',as_index=False).agg(Power_Ups=('Power-Ups Used','count'),Avg_PowerUps=('Power-Ups Used','mean')).sort_values(by='Power_Ups',ignore_index=True)

In [51]:
gold_report3

       Player Name  Power_Ups  Avg_PowerUps
0            Wario       3111     17.355513
1            Mario       3181     17.196793
2             Toad       3217     17.644078
3            Peach       3230     17.309598
4         Rosalina       3234     17.754484
5       Bowser Jr.       3241     17.525455
6           Bowser       3268     17.407895
7            Luigi       3269     17.398287
8         Toadette       3290     17.384498
9            Daisy       3294     17.472981
10           Yoshi       3304     17.486077
11         Waluigi       3321     17.364950
12  Unknown Player       9040     17.603540

In [52]:
gold_report3.to_parquet('./Gold layer/gold_powerup_player.parquet')

Average Number of Lives Lost in each world in descending order

In [53]:
gold_report4= df.groupby('World')['Lives Lost'].mean().reset_index().rename(columns={'Lives Lost':'Average Lives Lost'}).sort_values('Average Lives Lost',ascending=False)

In [54]:
gold_report4

              World  Average Lives Lost
0      Donut Plains            2.529310
2  Mushroom Kingdom            2.526588
4         Toad Town            2.512022
5    Yoshi'S Island            2.503966
3        Star World            2.497933
1     Koopa Kingdom            2.477140

In [55]:
gold_report4.to_parquet('./Gold layer/gold_world_difficulty.parquet')

Top Player per Team by Team Points

In [56]:

gold_report5=df.loc[df.groupby('Team')['Team Points'].idxmax(), ['Team', 'Player Name', 'Team Points']].reset_index(drop=True).sort_values('Team Points', ascending=False)

In [57]:
gold_report5.rename(columns={'Player Name':'Top Player'})

               Team  Top Player  Team Points
0      Dino Buddies     Waluigi          200
1        Green Caps       Mario          200
2        Koopa Clan  Bowser Jr.          200
3  Mushroom Royalty      Bowser          200
4          Red Caps     Waluigi          200
5  Sarasaland Stars     Waluigi          200
6      Toad Brigade       Peach          200
7        Tricksters     Waluigi          200
8      Unknown Team     Waluigi          200

In [58]:
gold_report5.to_parquet('./Gold layer/gold_top_player_per_team.parquet')

Popularity of each vehicle

In [59]:
gold_report6=df.loc[:,'Vehicle Type'].value_counts().reset_index()

In [60]:
gold_report6.rename(columns={'index':'Vehicle Type','count':'Usage Count'})

      Vehicle Type  Usage Count
0          Scooter         6916
1    Standard Kart         6914
2       Pipe Frame         6868
3       Biddybuggy         6863
4           Mach 8         6839
5       Comet Bike         6828
6  Circuit Special         6772

In [61]:
gold_report6.to_parquet('./Gold layer/gold_vehicle_counts.parquet')

Players who are at highest risk( by lives lost)

In [62]:
gold_report7 = df.groupby('Player Name')['Lives Lost'].sum().reset_index().sort_values('Lives Lost',ignore_index=True,ascending=False).rename(columns={'Lives Lost':'Total Lives Lost'})

In [63]:
gold_report7

       Player Name  Total Lives Lost
0   Unknown Player             22667
1            Yoshi              8367
2          Waluigi              8349
3         Toadette              8338
4            Daisy              8214
5            Peach              8166
6       Bowser Jr.              8160
7            Luigi              8103
8         Rosalina              8092
9             Toad              8085
10          Bowser              8072
11           Mario              8009
12           Wario              7754

In [64]:
gold_report7.to_parquet('./Gold layer/gold_risk_assessment.parquet')

Average and Total number of levels completed in each world

In [65]:
gold_report8=df.groupby('World',as_index=False).agg(Number_of_Levels_Completed=('Levels Completed','sum'), Average_Levels=('Levels Completed','mean')).rename(columns={'index':'World','Number_of_Levels_Completed':'Total Number of levels completed','Average_Levels':'Average Levels Completed'})

In [66]:
gold_report8

,World,Total Number of levels completed,Average Levels Completed
0,Donut Plains,507269,62.734232
1,Koopa Kingdom,503194,62.687679
2,Mushroom Kingdom,491277,61.904864
3,Star World,496809,62.248966
4,Toad Town,501699,62.501433
5,Yoshi'S Island,497014,62.572580

In [67]:
gold_report8.to_parquet('./Gold layer/gold_world_completion.parquet')

Total and Average number of times each team was hit by enemies

In [68]:
gold_report9=df.groupby('Team',as_index=False).agg(Total=('Times Hit by Enemies','sum'),Average=('Times Hit by Enemies','mean')).rename(columns={'Total':'Total Number of Times Hit by Enemies','Average':'Average Number of times Hit by Enemies'})

In [69]:
gold_report9

,Team,Total Number of Times Hit by Enemies,Average Number of times Hit by Enemies
0,Dino Buddies,27417,4.977669
1,Green Caps,27943,4.967644
2,Koopa Clan,28023,5.037390
3,Mushroom Royalty,28368,4.966387
4,Red Caps,27914,4.954562
5,Sarasaland Stars,28708,5.031195
6,Toad Brigade,28246,4.959789
7,Tricksters,27619,4.934608
8,Unknown Team,14965,5.055743

In [70]:
gold_report9.to_parquet('./Gold layer/gold_hits_team.parquet')

Total coins spent in Toad Town by each team

In [71]:
gold_report10=df.groupby('Team')['Coins Spent in Toad Town'].sum().reset_index().rename(columns={'Coins Spent in Toad Town':'Total Coins Spent in Toad Town'}).sort_values('Total Coins Spent in Toad Town',ascending=False,ignore_index=True)

In [72]:
gold_report10

               Team  Total Coins Spent in Toad Town
0  Mushroom Royalty                         1438670
1  Sarasaland Stars                         1426623
2        Green Caps                         1411585
3          Red Caps                         1409952
4      Toad Brigade                         1395065
5        Tricksters                         1394614
6        Koopa Clan                         1375545
7      Dino Buddies                         1363819
8      Unknown Team                          741924

In [73]:
gold_report10.to_parquet('./Gold layer/gold_spending_analysis.parquet')